@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: hsl(212, 45%, 89%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qr-code-div {
  font-size: 15px;
  font-family: "Outfit", sans-serif;

  border-radius: 20px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  background-color: hsl(0, 0%, 100%);

  max-width: 300px;
  max-height: auto;
}

.img-div {
  margin: 10px;
}

.qr-image {
  max-width: 100%;
  border-radius: 20px;
}

.text-div {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.text {
  text-align: center;
  margin: 10px 10px;
}

#text-strong {
  font-weight: 700;
}

#text-description {
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  margin-bottom: 50px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 5px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
